@model IEnumerable<Progetto_Settimana_2_Manuel.Models.PrenotazioneCompletaViewModel>

@{
    ViewData["Title"] = "Riepilogo Prenotazioni";
}

<h1>Riepilogo Prenotazioni</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Prenotazione ID</th>
            <th>Codice Fiscale Cliente</th>
            <th>Nome Cliente</th>
            <th>Cognome Cliente</th>
            <th>Numero Camera</th>
            <th>Descrizione Camera</th>
            <th>Data Prenotazione</th>
            <th>Periodo Dal</th>
            <th>Periodo Al</th>
            <th>Caparra Confirmatoria</th>
            <th>Tariffa Applicata</th>
            <th>Tipo Soggiorno</th>
            <th>Servizi Aggiuntivi</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PrenotazioneId</td>
                <td>@item.Cliente.CodiceFiscale</td>
                <td>@item.Cliente.Nome</td>
                <td>@item.Cliente.Cognome</td>
                <td>@item.Camera.Numero</td>
                <td>@item.Camera.Descrizione</td>
                <td>@item.DataPrenotazione.ToString("dd/MM/yyyy")</td>
                <td>@item.PeriodoDal.ToString("dd/MM/yyyy")</td>
                <td>@item.PeriodoAl.ToString("dd/MM/yyyy")</td>
                <td>@item.CaparraConfirmatoria</td>
                <td>@item.TariffaApplicata</td>
                <td>@item.TipoSoggiorno</td>
                <td>
                    <ul>
                        @foreach (var servizio in item.ServiziAggiuntivi)
                        {
                            <li>@servizio.DescrizioneServizio - Quantità: @servizio.Quantita, Prezzo: @servizio.Prezzo €</li>
                        }
                    </ul>
                </td>
                <td>
                   
                    <a asp-action="Checkout" asp-route-id="@item.PrenotazioneId" class="btn btn-info">Checkout</a> |
                    <a class="btn btn-danger" onclick="deletePrenotazione(@item.PrenotazioneId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        function deletePrenotazione(id) {
            if (confirm("Sicuro di voler eliminare la Prenotazione?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Prenotazioni")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert('Errore nell eliminazione');
                        }
                    },
                    error: function (err) {
                        alert('Error: ' + err.responseText);
                    }
                });
            }
        }
    </script>
}
