@model IEnumerable<Progetto_Settimana_2_Manuel.Models.Camera>
@{
    ViewData["Title"] = "Camere";
}
<h2>Camera</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Camera @Html.DisplayFor(modelItem => item.Numero)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Tipologia)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descrizione)</p>
                    <a class="btn btn-danger" onclick="deleteCamera(@item.ID)">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        function deleteCamera(id) {
            if (confirm("Sicuro di voler eliminare la Camera?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Camere")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert('Errore nell eliminazione');
                        }
                    },
                    error: function (err) {
                        alert('Error: ' + err.responseText);
                    }
                });
            }
        }
    </script>
}
