@model IEnumerable<Progetto_Settimana_2_Manuel.Models.Servizio>

@{
    ViewData["Title"] = "Servizi";
}

<h1>Servizi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Servizio ID: @item.ID</h5>
                    <p class="card-text">
                        <strong>Descrizione:</strong> @item.Descrizione <br />
                        <strong>Prezzo:</strong> @item.Prezzo €<br />
                    </p>
                    <a class="btn btn-danger" onclick="deleteServizio(@item.ID)">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        function deleteServizio(id) {
            if (confirm("Sicuro di voler eliminare il servizio?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Servizi")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert('Errore nell eliminazione');
                        }
                    },
                    error: function (err) {
                        alert('Error: ' + err.responseText);
                    }
                });
            }
        }
    </script>
}
