@model IEnumerable<Progetto_Settimana_2_Manuel.Models.PrenotazioneServizio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServizioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPrenotazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServizioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                    

                    <a class="btn btn-danger" onclick="deletePrenotazioneServizio(@item.ID)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {



    <script>
        function deletePrenotazioneServizio(id) {
            if (confirm("Sicuro di voler eliminare prenotazione servizio?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "PrenotaziniServizi")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert('Errore nell eliminazione');
                        }
                    },
                    error: function (err) {
                        alert('Servizio è legato ad una : ' + err.responseText);
                    }
                });
            }
        }
    </script>





}
