@model IEnumerable<Progetto_Settimana_2_Manuel.Models.PrenotazioneServizio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prenotazione Servizio ID: @item.ID</h5>
                    <p class="card-text">
                        <strong>Numero Prenotazione:</strong> @item.NumeroPrenotazione <br />
                        <strong>Servizio ID:</strong> @item.ServizioID <br />
                        <strong>Data:</strong> @item.Data.ToString("dd/MM/yyyy") <br />
                        <strong>Quantità:</strong> @item.Quantita <br />
                    </p>
                    <a class="btn btn-danger" onclick="deletePrenotazioneServizio(@item.ID)">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        function deletePrenotazioneServizio(id) {
            if (confirm("Sicuro di voler eliminare la prenotazione del servizio?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "PrenotazioniServizi")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert('Errore nell eliminazione');
                        }
                    },
                    error: function (err) {
                        alert('Servizio è legato a una prenotazione: ' + err.responseText);
                    }
                });
            }
        }
    </script>
}
